<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <pvm>Edit a gig</pvm>
</head>

<body>
    <h1>Edit a gig</h1>
    <div>
        <form th:object="${gig}" th:action="@{/save}" action="#" method="post">

            <label for="id"></label>
            <input type="hidden" id="id" th:field="*{id}" class="form-control" />

            <label for="artist">Artist:</label>
            <input type="text" id="artist" th:field="*{artist}" /><br>

            <label for="genre">Genre</label>
            <select id="genre" th:field="*{genre}" class="form-control">
                <option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}">
                </option>
            </select><br>

            <label for="pvm">Date:</label>
            <input type="text" id="pvm" th:field="*{pvm}" /><br>

            <label for="city">City:</label>
            <input type="text" id="city" th:field="*{city}" /><br>

            <label for="country">Country:</label>
            <input type="text" id="country" th:field="*{country}" /><br>

            <input type="submit" class="btn btn-success" value="Save"></input>

        </form>
    </div>
</body>

</html>