<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Sign up</title>
</head>

<body>
    <h1>Sign up</h1>
    <form th:action="@{/saveuser}" th:object="${user}" method="post">
        <div><label for="username">Username:</label>
            <input type="text" th:field="*{username}" required />
        </div>
        <div><label for="passwordHash">Password:</label>
            <input type="password" th:field="*{passwordHash}" required />
        </div>
        <div><input type="submit" value="Sign Up" /></div><br>
    </form>


</body>

</html>